run.py
env.py
__pycache__/
templates/about.html
templates/base.html
templates/contact.html
templates/index.html
templates/original_html_files/about.html
templates/original_html_files/base.html
templates/original_html_files/contact.html
templates/original_html_files/index.html
static/.gitignore
static/LICENSE
static/package-lock.json
static/package.json
static/README.md
static/dist/about.html
static/dist/contact.html
static/dist/index.html
static/dist/post.html
static/dist/assets/favicon.ico
static/dist/assets/img/about-bg.jpg
static/dist/assets/img/contact-bg.jpg
static/dist/assets/img/home-bg.jpg
static/dist/assets/img/post-bg.jpg
static/dist/assets/img/post-sample-image.jpg
static/dist/css/styles.css
static/dist/js/scripts.js
static/scripts/build-assets.js
static/scripts/build-pug.js
static/scripts/build-scripts.js
static/scripts/build-scss.js
static/scripts/clean.js
static/scripts/render-assets.js
static/scripts/render-pug.js
static/scripts/render-scripts.js
static/scripts/render-scss.js
static/scripts/sb-watch.js
static/scripts/start-debug.js
static/scripts/start.js
static/src/assets/favicon.ico
static/src/assets/img/about-bg.jpg
static/src/assets/img/contact-bg.jpg
static/src/assets/img/home-bg.jpg
static/src/assets/img/post-bg.jpg
static/src/assets/img/post-sample-image.jpg
static/src/js/scripts.js
static/src/pug/about.pug
static/src/pug/contact.pug
static/src/pug/index.pug
static/src/pug/post.pug
static/src/pug/includes/css.pug
static/src/pug/includes/footer.pug
static/src/pug/includes/navbar.pug
static/src/pug/includes/scripts.pug
static/src/scss/_global.scss
static/src/scss/_variables.scss
static/src/scss/styles.scss
static/src/scss/components/_buttons.scss
static/src/scss/components/_forms.scss
static/src/scss/components/_navbar.scss
static/src/scss/sections/_footer.scss
static/src/scss/sections/_masthead.scss
static/src/scss/sections/_post.scss
static/src/scss/variables/_buttons.scss
static/src/scss/variables/_colors.scss
static/src/scss/variables/_forms.scss
static/src/scss/variables/_options.scss
static/src/scss/variables/_overlay.scss
static/src/scss/variables/_typography.scss
templates/careers.html
data/articles.json
static/css/clean-blog.css
static/css/clean-blog.min.css
static/css/style.css
static/img/about-bg.jpg
static/img/contact-bg.jpg
static/img/home-bg.jpg
static/img/post-bg.jpg
static/img/post-sample-image.jpg
static/js/clean-blog.js
static/js/clean-blog.min.js
static/js/contact_me.js
static/js/jqBootstrapValidation.js
static/mail/contact_me.php
static/scss/_bootstrap-overrides.scss
static/scss/_contact.scss
static/scss/_footer.scss
static/scss/_global.scss
static/scss/_masthead.scss
static/scss/_mixins.scss
static/scss/_navbar.scss
static/scss/_post.scss
static/scss/_variables.scss
static/scss/clean-blog.scss
static/vendor/bootstrap/css/bootstrap-grid.css
static/vendor/bootstrap/css/bootstrap-grid.css.map
static/vendor/bootstrap/css/bootstrap-grid.min.css
static/vendor/bootstrap/css/bootstrap-grid.min.css.map
static/vendor/bootstrap/css/bootstrap-reboot.css
static/vendor/bootstrap/css/bootstrap-reboot.css.map
static/vendor/bootstrap/css/bootstrap-reboot.min.css
static/vendor/bootstrap/css/bootstrap-reboot.min.css.map
static/vendor/bootstrap/css/bootstrap.css
static/vendor/bootstrap/css/bootstrap.css.map
static/vendor/bootstrap/css/bootstrap.min.css
static/vendor/bootstrap/css/bootstrap.min.css.map
static/vendor/bootstrap/js/bootstrap.bundle.js
static/vendor/bootstrap/js/bootstrap.bundle.js.map
static/vendor/bootstrap/js/bootstrap.bundle.min.js
static/vendor/bootstrap/js/bootstrap.bundle.min.js.map
static/vendor/bootstrap/js/bootstrap.js
static/vendor/bootstrap/js/bootstrap.js.map
static/vendor/bootstrap/js/bootstrap.min.js
static/vendor/bootstrap/js/bootstrap.min.js.map
static/vendor/fontawesome-free/css/all.css
static/vendor/fontawesome-free/css/all.min.css
static/vendor/fontawesome-free/css/brands.css
static/vendor/fontawesome-free/css/brands.min.css
static/vendor/fontawesome-free/css/fontawesome.css
static/vendor/fontawesome-free/css/fontawesome.min.css
static/vendor/fontawesome-free/css/regular.css
static/vendor/fontawesome-free/css/regular.min.css
static/vendor/fontawesome-free/css/solid.css
static/vendor/fontawesome-free/css/solid.min.css
static/vendor/fontawesome-free/css/svg-with-js.css
static/vendor/fontawesome-free/css/svg-with-js.min.css
static/vendor/fontawesome-free/css/v4-shims.css
static/vendor/fontawesome-free/css/v4-shims.min.css
static/vendor/fontawesome-free/webfonts/fa-brands-400.eot
static/vendor/fontawesome-free/webfonts/fa-brands-400.svg
static/vendor/fontawesome-free/webfonts/fa-brands-400.ttf
static/vendor/fontawesome-free/webfonts/fa-brands-400.woff
static/vendor/fontawesome-free/webfonts/fa-brands-400.woff2
static/vendor/fontawesome-free/webfonts/fa-regular-400.eot
static/vendor/fontawesome-free/webfonts/fa-regular-400.svg
static/vendor/fontawesome-free/webfonts/fa-regular-400.ttf
static/vendor/fontawesome-free/webfonts/fa-regular-400.woff
static/vendor/fontawesome-free/webfonts/fa-regular-400.woff2
static/vendor/fontawesome-free/webfonts/fa-solid-900.eot
static/vendor/fontawesome-free/webfonts/fa-solid-900.svg
static/vendor/fontawesome-free/webfonts/fa-solid-900.ttf
static/vendor/fontawesome-free/webfonts/fa-solid-900.woff
static/vendor/fontawesome-free/webfonts/fa-solid-900.woff2
static/vendor/jquery/jquery.js
static/vendor/jquery/jquery.min.js
static/vendor/jquery/jquery.min.map
static/vendor/jquery/jquery.slim.js
static/vendor/jquery/jquery.slim.min.js
static/vendor/jquery/jquery.slim.min.map
templates/article.html
